@import "variables";

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }
}

body {
  background-color: #edeef0;
}

@each $topping, $color in $toppings {
  .type-#{$topping} {
    border-color: $color;
    color: $color;

    &:hover, &.active {
      background-color: $color;
      color: #fff;
    }
  }
}
